{% extends "common/base.html" %}
{% load static %}
{%block title%}商品{%endblock%}
{%block cssjs%}
<style>
	.xiangguan-div{
		margin-left: 16px;
	}
	.xiangguan-div span{
		font-size: 1.5em;
		color: #52D0C4;
		line-height: 1.5em;
		font-family: 'OleoScript-Regular';
		
	}	

</style>
{%endblock%}
{%block content%}
<div class="single">

		<div class="container">
		<div class="col-md-9">
			<div class="col-md-5 grid">		
				<div class="flexslider">
					  <ul class="slides">
						<li data-thumb="{% static product.img_1 %}">
							
							<div class="thumb-image"> <img src="{% static product.img_1 %}" data-imagezoom="true" class="img-responsive"> </div>
						</li>
						<li data-thumb="{% static product.img_2 %}">
							 <div class="thumb-image"> <img src="{% static product.img_2 %}" data-imagezoom="true" class="img-responsive"> </div>
						</li>
						<li data-thumb="{% static product.img_3 %}">
						   <div class="thumb-image"> <img src="{% static product.img_2 %}" data-imagezoom="true" class="img-responsive"> </div>
						</li> 
					  </ul>
				</div>
			</div>	
		<div class="col-md-7 single-top-in">
								<div class="single-para simpleCart_shelfItem">
									<h1>产品简介</h1>
									<p>{{product.pro_introduction}}</p>
									<div class="star-on">
										<ul>
											<li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
											<li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
											<li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
											<li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
											<li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
										</ul>
										<div class="review">
											<a href="#"> 3 reviews </a>
											<a href="#">  Write a review</a>
										</div>
									<div class="clearfix"> </div>
									</div>
									
										<label  class="add-to item_price">{{product.price}}￥</label>
									
									<div class="available">
										<h6>商品样式选择:</h6>
										<ul>
											
										<li>尺码:<select>
											<option>170/M</option>
											<option>175/L</option>
											<option>180/XL</option>
											<option>185/XXL</option>
											<option>190/XXXL</option>
										</select></li>
										<li>数量:<input type="text" value="1" class="buy-num"/></li>
									</ul>
								</div>
										<a href="javascript:;" class="cart item_add cart_pro_a" pro="{{product.id}}">加入购物车</a>
								</div>
							</div>
					<div class="clearfix"> </div>
					<div class="xiangguan-div">
						<span>相关产品</span>
					</div>
					<div class="content-top1">
						<div class="col-md-4 col-md3">
							<div class="col-md1 simpleCart_shelfItem">
								<a href="single.html">
										
									<img class="img-responsive" src="{% static 'images/pi6.png'%}" alt="" />
								</a>
								<h3><a href="single.html">Jeans</a></h3>
								<div class="price">
										<h5 class="item_price">$300</h5>
										<a href="#" class="item_add">Add To Cart</a>
										<div class="clearfix"> </div>
								</div>
							</div>
						</div>	
					<div class="col-md-4 col-md3">
							<div class="col-md1 simpleCart_shelfItem">
								<a href="single.html">
										
									<img class="img-responsive" src="{% static 'images/pi7.png'%}" alt="" />
								</a>
								<h3><a href="single.html">Tops</a></h3>
								<div class="price">
										<h5 class="item_price">$300</h5>
										<a href="#" class="item_add">Add To Cart</a>
										<div class="clearfix"> </div>
								</div>
								
							</div>
						</div>	
					<div class="col-md-4 col-md3">
							<div class="col-md1 simpleCart_shelfItem">
								<a href="single.html">
										
									<img class="img-responsive" src="{% static 'images/pi.png'%}" alt="" />
								</a>
								<h3><a href="single.html">Tops</a></h3>
								<div class="price">
										<h5 class="item_price">$300</h5>
										<a href="#" class="item_add">Add To Cart</a>
										<div class="clearfix"> </div>
								</div>
								
							</div>
						</div>	
					
					<div class="clearfix"> </div>
					</div>		
		</div>
		<div class="col-md-3 product-bottom">
					<!--categories-->
						<div class=" rsidebar span_1_of_left">
								<h3 class="cate">Categories</h3>
									 <ul class="menu-drop">
									<li class="item1"><a href="#">Men </a>
										<ul class="cute">
											<li class="subitem1"><a href="single.html">Cute Kittens </a></li>
											<li class="subitem2"><a href="single.html">Strange Stuff </a></li>
											<li class="subitem3"><a href="single.html">Automatic Fails </a></li>
										</ul>
									</li>
									<li class="item2"><a href="#">Women </a>
										<ul class="cute">
											<li class="subitem1"><a href="single.html">Cute Kittens </a></li>
											<li class="subitem2"><a href="single.html">Strange Stuff </a></li>
											<li class="subitem3"><a href="single.html">Automatic Fails </a></li>
										</ul>
									</li>
									<li class="item3"><a href="#">Kids</a>
										<ul class="cute">
											<li class="subitem1"><a href="single.html">Cute Kittens </a></li>
											<li class="subitem2"><a href="single.html">Strange Stuff </a></li>
											<li class="subitem3"><a href="single.html">Automatic Fails</a></li>
										</ul>
									</li>
									<li class="item4"><a href="#">Accesories</a>
										<ul class="cute">
											<li class="subitem1"><a href="single.html">Cute Kittens </a></li>
											<li class="subitem2"><a href="single.html">Strange Stuff </a></li>
											<li class="subitem3"><a href="single.html">Automatic Fails</a></li>
										</ul>
									</li>
											
									<li class="item4"><a href="#">Shoes</a>
										<ul class="cute">
											<li class="subitem1"><a href="single.html">Cute Kittens </a></li>
											<li class="subitem2"><a href="single.html">Strange Stuff </a></li>
											<li class="subitem3"><a href="single.html">Automatic Fails </a></li>
										</ul>
									</li>
								</ul>
							</div>
						<!--initiate accordion-->
								<script type="text/javascript">
									$(function() {
										var menu_ul = $('.menu-drop > li > ul'),
											   menu_a  = $('.menu-drop > li > a');
										menu_ul.hide();
										menu_a.click(function(e) {
											e.preventDefault();
											if(!$(this).hasClass('active')) {
												menu_a.removeClass('active');
												menu_ul.filter(':visible').slideUp('normal');
												$(this).addClass('active').next().stop(true,true).slideDown('normal');
											} else {
												$(this).removeClass('active');
												$(this).next().stop(true,true).slideUp('normal');
											}
										});
									
									});
								</script>
		<!--//menu-->
		<!--seller-->
						<div class="product-bottom">
								<h3 class="cate">Best Sellers</h3>
							<div class="product-go">
								<div class=" fashion-grid">
									<a href="single.html"><img class="img-responsive " src="{% static 'images/pr.jpg'%}" alt=""></a>	
								</div>
								<div class=" fashion-grid1">
									<h6 class="best2"><a href="single.html" >Lorem ipsum dolor sitamet consectetuer  </a></h6>
									<span class=" price-in1"> $40.00</span>
								</div>	
								<div class="clearfix"> </div>
							</div>
							<div class="product-go">
								<div class=" fashion-grid">
									<a href="single.html"><img class="img-responsive " src="{% static 'images/pr1.jpg'%}" alt=""></a>	
								</div>
								<div class=" fashion-grid1">
									<h6 class="best2"><a href="single.html" >Lorem ipsum dolor sitamet consectetuer  </a></h6>
									<span class=" price-in1"> $40.00</span>
								</div>	
								<div class="clearfix"> </div>
							</div>
							<div class="product-go">
								<div class=" fashion-grid">
									<a href="single.html"><img class="img-responsive " src="{% static 'images/pr2.jpg'%}" alt=""></a>	
								</div>
								<div class=" fashion-grid1">
									<h6 class="best2"><a href="single.html" >Lorem ipsum dolor sitamet consectetuer  </a></h6>
									<span class=" price-in1"> $40.00</span>
								</div>	
								<div class="clearfix"> </div>
							</div>	
							<div class="product-go">
								<div class=" fashion-grid">
									<a href="single.html"><img class="img-responsive " src="{% static 'images/pr3.jpg'%}" alt=""></a>	
								</div>
								<div class=" fashion-grid1">
									<h6 class="best2"><a href="single.html" >Lorem ipsum dolor sitamet consectetuer  </a></h6>
									<span class=" price-in1"> $40.00</span>
								</div>	
								<div class="clearfix"> </div>
							</div>		
						</div>
		
		<!--//seller-->
		<!--tag-->
						<div class="tag">	
								<h3 class="cate">Tags</h3>
							<div class="tags">
								<ul>
									<li><a href="#">design</a></li>
									<li><a href="#">fashion</a></li>
									<li><a href="#">lorem</a></li>
									<li><a href="#">dress</a></li>
									<li><a href="#">fashion</a></li>
									<li><a href="#">dress</a></li>
									<li><a href="#">design</a></li>
									<li><a href="#">dress</a></li>
									<li><a href="#">design</a></li>
									<li><a href="#">fashion</a></li>
									<li><a href="#">lorem</a></li>
									<li><a href="#">dress</a></li>
								<div class="clearfix"> </div>
								</ul>
						</div>					
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			</div>
		<!-- slide -->
		
		<script src="{% static 'js/imagezoom.js'%}"></script>
		<!-- start menu -->
		<!-- <script>$(document).ready(function(){$(".memenu").memenu();});</script> -->
		<!--initiate accordion-->
	<script type="text/javascript">
		$(function() {
			var menu_ul = $('.menu-drop > li > ul'),
					menu_a  = $('.menu-drop > li > a');
			menu_ul.hide();
			menu_a.click(function(e) {
				e.preventDefault();
				if(!$(this).hasClass('active')) {
					menu_a.removeClass('active');
					menu_ul.filter(':visible').slideUp('normal');
					$(this).addClass('active').next().stop(true,true).slideDown('normal');
				} else {
					$(this).removeClass('active');
					$(this).next().stop(true,true).slideUp('normal');
				}
			});
		
		});
	</script>
								<!-- FlexSlider -->
		  <script defer src="{% static 'js/jquery.flexslider.js'%}"></script>
		<link rel="stylesheet" href="{% static 'css/flexslider.css'%}" type="text/css" media="screen" />
		
		<script>
		// Can also be used with $(document).ready()
		$(window).load(function() {
		  $('.flexslider').flexslider({
			animation: "slide",
			controlNav: "thumbnails"
		  });
		});
		</script>
		<!---pop-up-box-->
		
		<link href="{% static 'css/popuo-box.css'%}" rel="stylesheet" type="text/css" media="all"/>
		<script src="{% static 'js/jquery.magnific-popup.js'%}" type="text/javascript"></script>
							<!---//pop-up-box-->
							 <script>
								$(document).ready(function() {
								$('.popup-with-zoom-anim').magnificPopup({
									type: 'inline',
									fixedContentPos: false,
									fixedBgPos: true,
									overflowY: 'auto',
									closeBtnInside: true,
									preloader: false,
									midClick: true,
									removalDelay: 300,
									mainClass: 'my-mfp-zoom-in'
								});
																								
								});
						</script>
	<script>
		var $a=$(".cart_pro_a");
		$a.click(function(){
			var $url1="{%url 'showgoods:add_shopcart'%}";
			var $pro_id=$a.attr("pro");
			var $num=$(".buy-num").val();
			data1={
				"csrfmiddlewaretoken": "{{ csrf_token }}",
				"pro_id":$pro_id,
				"num":$num
			};
			doadd($url1);
			
		});
		var doadd=function(url1){
			$.ajax({
			type:"POST",
			url:url1,
			async:true,
			data:data1,
			success : function(result) {
				console.log(result);
            	if(result==="1"){
					$(window).attr('location','/shopcart/');
				}else if(result==="2"){
					alert("您未登录，请先登录！");
					$(window).attr('location','/account/login');
				}
				else{
					meg="加入购物车失败";
					alert(meg)
				};
				
			}});
		};
	</script>
{%endblock%}